<!doctype html>
<html>
<head>
<title>Share File</title>
<script type="text/javascript" language="javascript">
/*common method to submit form*/
function submitForm(formId, formAction){
	var frm = document.getElementById(formId);
	frm.action=formAction;
	frm.submit();
}
/*JS trim method*/
function trim(str){
	var s=str.replace(/^\s\s*/,'').replace(/\s\s*$/,'');
	return s;
}
function tofile(isdir, f){
	if(isdir=='True'){
		document.getElementById('todir').value = f;
		submitForm("filenav", "/filelist");
	}else{
		if(confirm("You are going to download the file: "+f)){
			document.getElementById('todir').value = f;
			submitForm("filenav", "/download");
		}
	}
}
function cd(){
	cd_dir = document.getElementById('cd_dir').value;
	cd_dir = trim(cd_dir);
	if (cd_dir == ""){
		alert("Dir cannot be empty!");
		document.getElementById('cd_dir').value="";
		return
	}
	document.getElementById('current_dir').value = cd_dir;
	document.getElementById('todir').value = "";
	submitForm("filenav", "/filelist");
	
}

</script>
<style type="text/css">
.errorMessage {
	color:red;
}
a {
	text-decoration:none;
}
a:hover {
	/*background-color:#FFFFBB;*/
	color:green;
	text-decoration:underline;
}
tr {
	height: 30px;
}
</style>
</head>
<body>

<h3>File List</h3>
<h4>Current Dir: {{rs.current_dir}} </h4>
file count: {{rs.filelist | length}}
<h4>cd: <input value="" id="cd_dir" /> <input type="button" value="GO" onclick="cd();" /> </h4>
<form action="/upload" enctype='multipart/form-data' method='POST'>
    <input type="file" name="file">
    <input type="submit" value="upload">
    <input type="hidden" id="current_dir1" name="current_dir" value="{{rs.current_dir}}" />
</form>
<br>
<table width="600" border="1" style="border-collapse:collapse;">   
	<tr bgColor="#CCFFFF" >
		<td>Type</td>
		<td width="200">Files:</td>
		<td>Bytes</td>
	</tr>
	<tr><td>D</td><td><a href="javascript:tofile('True','..');" >..</a></td><td>-</td></tr>
	{% for f in rs.filelist %}
	<tr>
		<td width="25">{% if f.0: %} D {% else %} F {% endif%}</td>
		<td> <a href="javascript:tofile('{{f.0}}','{{f.1}}');" >{{f.1}}</a></td>
		<td width="25">{{f.2}}</td>
	</tr>
	{% endfor %}
</table>
<form name="filenav" id="filenav" action="/file_list" method="post">
<input type="hidden" id="todir" name="todir" value="" />
<input type="hidden" id="current_dir" name="current_dir" value="{{rs.current_dir}}" />
</form>
</body>
</html>